[submodule "Extensions/Hub-SDK"]
	path = Extensions/Hub-SDK
	url = git@github.com:Innoactive/HUB-SDK.git
[submodule "Extensions/SteamVR"]
	path = Extensions/SteamVR
	url = git@github.com:Innoactive/SteamVR.git
[submodule "Extensions/Hub-Training-Module"]
	path = Extensions/Hub-Training-Module
	url = git@github.com:Innoactive/Hub-Training-Module.git
[submodule "Extensions/PostProcessing"]
	path = Extensions/PostProcessing
	url=git@github.com:Innoactive/PostProcessing.git