[submodule "Extensions/Hub-SDK"]
	path = Extensions/Hub-SDK
	url = git@github.com:Innoactive/HUB-SDK.git
[submodule "Extensions/SteamVR"]
	path = Extensions/SteamVR
	url = git@github.com:Innoactive/SteamVR.git
[submodule "Extensions/Hub-Training-Module"]
	path = Extensions/Hub-Training-Module
	url = git@github.com:Innoactive/Hub-Training-Module.git
	branch = feature/Extract-confetti-and-audio-hint-TRNG-244
[submodule "Assets/Extensions/Hub-Training-Module"]
	path = Assets/Extensions/Hub-Training-Module
	url = git@github.com:Innoactive/Hub-Training-Module.git
	branch = feature/Extract-confetti-and-audio-hint-TRNG-244
